
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5 {
  //font-family: 'Roboto Slab', serif;
  //font-weight: 300;
  //display: inline-block;
}
h1 {
  font-size: 2.000em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.425em;
}
h6 {
  //font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.375rem;
  //font-weight: 300;
}