
<footer id="footer">
  <div class="row top text-center contacts">
    <div class="small-12 columns">
      <h2>За продажби</h2>
    </div>
    
    <div class="small-12 medium-4 columns phone-div">
      <img class="svg" src="assets/img/phone.svg" alt="phone" />
      <span><a href="tel:052610746">052 610 746</a><br/><a href="tel:0882122212">088 212 2 212</a></span>
    </div>
  
    <div class="small-12 medium-4 columns email-div">
      <img src="assets/img/ico-mail.png" alt="mail" />
      <span><a href="mailto:sales@planex.bg">sales@planex.bg</a></span>
    </div>
  
    <div class="small-12 medium-4 columns address-div">
      <img class="svg" src="assets/img/pin.svg" alt="mail" />
      <span>Варна<br/>ул. Любен Каравелов 55</span>
    </div>
      
  </div>
  <div class="bottom text-center">
    <div class="row fullWidth">
      <div class="small-12 columns vendors">
        <a href="http://realtyplanex.com/zhilshtni-imoti/project/akvarel-3" target="_blank"><img class="aquarelle" src="assets/img/Aquarelle_logo_white.svg" alt="aquarelle logo" /></a>
        <span class="hide-for-small separator">&nbsp;</span>
        <img class="planex" src="assets/img/planex_white.svg" alt="planex logo" />
      </div>
    </div>
    <div class="row fullWidth">
      <div class="small-12 columns createdby">
        Създадено с <i class="fa fa-heart" aria-hidden="true"></i> от Fantasive Studio - <a href="http://fantasive.com" target="_blank" title="Fantasive Studio">уеб дизайн и криейтив, Варна</a>
      </div>
      <div class="small-12 columns copyright">
        &copy;2016 PLANEX HOLDING, ВСИЧКИ ПРАВА ЗАПАЗЕНИ
      </div>
    </div>
  </div>
</footer>