<!-- Navigation -->
<nav class="marketing-topbar show-for-medium">
  <div class="row align-middle">
    <div class="small-12 medium-2 large-4 columns">
      <div class="logo-top">
        <a href="/" title="Начало">
          <ul>
            <li><img src="assets/img/Aquarelle_logo_green.svg" alt="logo aquarelle" /></li>
            <li class="hide-for-small-only hide-for-medium-only">Варна, квартал Бриз</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="small-12 medium-8 large-5 columns text-center">
      <ul>
        <li class="phone"><a href="tel:0882122212">088 212 2 212</a></li>
        <li class="web"><a href="http://realtyplanex.com" target="_blank">Realty Planex</a></li>
        <li class="email"><a href="mailto:sales@planex.bg">sales@planex.bg</a></li>
        <li class="fb"><a href="https://www.facebook.com/realtyplanex/" title="Посети ни във Facebook" target="_blank"><img src="assets/img/fb-header.png" alt="fb" /></a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 large-3 columns text-right">
      <a class="logo-planex-top" href="http://planex.bg" title="planex" target="_blank"><img class="svg" src="assets/img/planex.svg" alt="logo-planex" /></a>
    </div>
  </div>
</nav>
<!-- // Navigation -->

<!-- Mobile navigation -->
<div class="title-bar hide-for-medium">
  <div class="title-bar-left">
    <span class="title-bar-title"><img src="assets/img/Aquarelle_logo_green.svg" alt="logo aquarelle" /></span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon right" type="button" data-open="offCanvas"></button>
  </div>
</div>
<!-- // Mobile navigation -->